<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="interoperability-sample.ZPM">
    <Module>
      <Name>interoperability-sample</Name>
      <Description>A simple IRIS interoperability application - reads data from Reddit and filter it.</Description>
      <Version>0.3.5</Version>
      <Packaging>module</Packaging>
      <Dependencies>
      </Dependencies>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="Ens.Config.DefaultSettings.ESD"/>
      <Resource Directory="i14y" Name="TestLookupTable.LUT"/>
      <Resource Name="dc.Demo.PKG"/>
      <SystemRequirements Version=">=2020.1" Interoperability="enabled" />
      </Invoke>
    </Module>
  </Document>
</Export>
